Internet of Things/Node-RED/roboesp32-flow.json
[
    {
        "id": "11457b90452973b3",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "82d3fa2d56cef4f2",
        "type": "mqtt in",
        "z": "11457b90452973b3",
        "name": "",
        "topic": "esp32/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ac0d62d253399d12",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 384,
        "y": 287,
        "wires": [
            [
                "ba6b5e974ab3f7a4",
                "936caa5399237eb7"
            ]
        ]
    },
    {
        "id": "ba6b5e974ab3f7a4",
        "type": "debug",
        "z": "11457b90452973b3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 581,
        "y": 254,
        "wires": []
    },
    {
        "id": "e83aea3d7a702f50",
        "type": "mqtt in",
        "z": "11457b90452973b3",
        "name": "",
        "topic": "esp32/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ac0d62d253399d12",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 373,
        "y": 171,
        "wires": [
            [
                "e0eb70bec91f63ae",
                "3c07fe0da00d8736"
            ]
        ]
    },
    {
        "id": "e0eb70bec91f63ae",
        "type": "debug",
        "z": "11457b90452973b3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 138,
        "wires": []
    },
    {
        "id": "936caa5399237eb7",
        "type": "ui_chart",
        "z": "11457b90452973b3",
        "name": "",
        "group": "61285987.c20328",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 581,
        "y": 314,
        "wires": [
            []
        ]
    },
    {
        "id": "3c07fe0da00d8736",
        "type": "ui_gauge",
        "z": "11457b90452973b3",
        "name": "",
        "group": "61285987.c20328",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b3d9",
            "#0073e6",
            "#001bd7"
        ],
        "seg1": "33",
        "seg2": "66",
        "diff": false,
        "className": "",
        "x": 560,
        "y": 198,
        "wires": []
    },
    {
        "id": "ac0d62d253399d12",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "61285987.c20328",
        "type": "ui_group",
        "name": "Main",
        "tab": "e7c46d5e.a1283",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e7c46d5e.a1283",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard"
    }
]